[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rUM"]
	path = rUM
	url = https://github.com/raymondbalise/rum
[submodule "tidyREDCap"]
	path = tidyREDCap
	url = https://github.com/raymondbalise/tidyredcap
