[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Open.Visualization.Academy"]
	path = Open.Visualization.Academy
	url = https://github.com/raymondbalise/open.visualization.academy
[submodule "rUM"]
	path = rUM
	url = https://github.com/raymondbalise/rum
[submodule "tidyREDCap"]
	path = tidyREDCap
	url = https://github.com/raymondbalise/tidyredcap
